{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6 box-element">
            <div class="row ">
                <div class="col-md-8 mt-3">
                    <h1>{% trans "Sign Out" %}</h1>

                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                </div>
              
                <div class="col-md-8 mt-3">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="pnk-btn">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
