{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6 box-element">
            <div class="row ">
                <div class="col-md-8 mt-3">

                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                </div>
                
                <div class="col-md-8 mt-3">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" class="pnk-btn" value="{% trans 'Reset My Password' %}" />
                    </form>

                    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
