{% extends "base.html" %}
{% load static %}

{%block content %}
<div class="container">
<div class="row justify-content-center">
	<div class="col">
		<div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

            <br>
            <br>
            <div class="row">
                
                    <div class="col-sm"><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></div>
                    <div class="col-sm"><h5>Total: <strong>£{{ order.get_cart_total|floatformat:2}}</strong></h5></div>
                    <div class="col-sm">
                        <a class="btn pnk-btn checkout-btn" href="{% url 'checkout' %}">Checkout</a>
                    </div>
                
            </div>
		</div>

		<br>

		<div class="box-element">
            <div class="cart-row row">
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-3"><strong>Item</strong></div>
                <div class="col-6 col-md-2"><strong>Price</strong></div>
                <div class="col-6 col-md-2"><strong>Quantity</strong></div>
                <div class="col-6 col-md-2"><strong>Total</strong></div>
            </div>
            {% for item in items %}
                <div class="cart-row row">
                    <div class="col-12 col-md-3"><img class="row-image" src="{{ item.product.featured_image.url }}"></div>
                    <div class="col-12 col-md-3">{{ item.product.name }}</div>
                    <div class="col-6 col-md-2">£{{ item.product.price | floatformat:2 }}</div>
                    <div class="col-6 col-md-2">
                        <p class="quantity">{{ item.quantity }}</p>
                        <div class="quantity">
                            <img data-product={{item.product.id}} data-action=add src="{% static 'images/arrow-up.png' %}" class="chg-quantity update-cart">
                            <img data-product={{item.product.id}} data-action=remove src="{% static 'images/arrow-down.png' %}" class="chg-quantity update-cart">
                        </div>
                    </div>
                    <div class="col-6 col-md-2">£{{ item.get_total }}</div>
                </div>
            {% endfor %}
		</div>
	</div>
</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

