{% extends "base.html" %}
{% load static %}


{% block search %}
    <div class="row justify-content-center">
        <div class="col-8 col-md-6 col-lg-4">
            <div class="puppy-head">
                <img src="{% static 'images/puppyhead.png' %}" class="responsive-img">
            </div>
            <div class="search-box vstack col-4">
                <p>Looking for something? Let me fetch that for you!</p>
                <input type="text" placeholder="Go Fetch">
            </div>
        </div>
    </div>
{% endblock %}

{%block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
        </div>
        <div class="row">
            <div class="col-4 mt-3">
                {% if "placeholder" in product.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/placeholder.png' %}"
                        alt="placeholder image">
                {% else %}
                    <img class="card-img-top" src=" {{ product.featured_image.url }}"
                        alt="{{ product.name }}">
                {% endif %}
            
            </div>
            <div class="col-8">
                <h2>{{ product.name }}</h2>
                {{ product.content | safe }}
                <div class="row justify-content-between align-items-end">
                    <div class="col-2 mt-5">
                        <h4>Price</h4>
                        <h3>£{{ product.price}}</h3>
                    </div>

                    <div class="col-3 mt-5">
                        <button data-product={{product.id}} data-action=add 
                            class="btn pnk-btn update-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- Displaying count of reviews -->
        <div class="row">
            <div class="col-12">
                <strong class="text-secondary">
                    <i class="far fa-comments"></i> {{ review_count }}
                </strong>
            </div>
        </div>
        <hr>

        <!-- Displaying Reviews -->
        <div class="row">
            <div class="col-md-8 card mb-4 mt-3">
                <h3>Reviews:</h3>
                <div class="card-body">
                    <!-- Iterate through reviews -->
                    {% for review in reviews %}
                        <div class="p-2 reviews
                            {% if not review.approved and review.author == user %}
                            faded{% elif not review.approved %} d-none{% endif %}">
                            <p class="font-weight-bold">
                                {{ review.author }}
                                <span class="font-weight-normal">
                                {{ review.created_on }}
                                </span>
                            </p>
                            <div id="rating" data-rating="{{ review.ratings }}">
                                <p>Rating: {{ review.ratings }}/5</p>
                            </div>
                            <div id="review{{ review.id }}">
                                {{ review.content | linebreaks }}
                            </div>
                            {% if not review.approved and review.author == user %}
                                <p class="approval">
                                    This comment is awaiting approval
                                </p>
                            {% endif %}
                        </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}