{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block search %}
<div class="row justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
        <div class="puppy-head">
            <img src="{% static 'images/puppyhead.png' %}" class="responsive-img" alt="Animated image of a cute dog mascot sat above the search box to fetch your search queries for you">
        </div>
        <div class="search-box vstack col-4">
            <p>Looking for something? Let me fetch that for you!</p>
            <div class="search-bg">
                <div id="search-container">
                    <form id="search-form">
                       
                        <input type="text" placeholder="Go Fetch">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block content %}

<!-- Display a product -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
        </div>
        <!-- Product Image -->
        <div class="row">
            <div class="col-4 mt-3">
                {% if "placeholder" in product.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/placeholder.png' %}"
                        alt="placeholder image">
                {% else %}
                    <img class="card-img-top" src=" {{ product.featured_image.url }}"
                        alt="{{ product.name }}">
                {% endif %}
            
            </div>
            <!-- Product details -->
            <div class="col-8">
                <h2>{{ product.name }}</h2>
                {{ product.content | safe }}
                <div class="row justify-content-between mt-5 mb-5 align-items-end">
                    <div class="col-4">
                        <h4>Price</h4>
                        <h3>£{{ product.price}}</h3>
                    </div>

                    <div class="col col-md-5">
                        <!-- Prompt user to log in to user cart functions -->
                        {% if user.is_authenticated %}
                            <button data-product={{product.id}} data-action=add 
                            class="btn pnk-btn update-cart">Add to Cart</button>
                        {% else %}
                            <a href={% url 'account_login' %} class="green-btn">Login to +</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <hr>

        <!-- Displaying count of reviews -->
        <div class="row">
            <div class="col-12">
                <strong class="text-secondary">
                    <i class="far fa-comments"></i> {{ review_count }}
                </strong>
            </div>
        </div>
        <hr>

        <!-- Displaying Reviews -->
        <div class="row justify-content-between ps-4">
            <div class="col-md-5 card mb-4 mt-3">
                <h3>Reviews:</h3>
                <div class="card-body">
                    <!-- Iterate through reviews -->
                    {% for review in reviews %}
                        <div class="p-2 reviews
                            {% if not review.approved and review.author == user %}
                            faded{% elif not review.approved %} d-none{% endif %}">
                            <p class="font-weight-bold">
                                {{ review.author }}
                                <span class="font-weight-normal">
                                {{ review.created_on }}
                                </span>
                            </p>
                            <div id="rating" data-rating="{{ review.ratings }}">
                                <p>Rating: {{ review.ratings }}/5</p>
                            </div>
                            <div id="review{{ review.id }}">
                                {{ review.content | linebreaks }}
                            </div>
                            {% if not review.approved and review.author == user %}
                                <p class="approval">
                                    This review is awaiting approval
                                </p>
                            {% endif %}
                            {% if user.is_authenticated and review.author == user %}
                                <button class="btn btn-delete pnk-btn"
                                data-review_id="{{ review.id }}">Delete</button>

                                <button class="btn btn-edit green-btn"
                                    data-review_id="{{ review.id }}" id="review{{ review.id }}">Edit</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                
                </div>
            </div>

             <!-- Leave a Review -->
            <div class="col-md-4 card mb-4 mt-3">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h3>Leave a review:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="reviewForm" method="post"
                            style="margin-top: 1.3em;">
                            {{ review_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit"
                                class="btn pnk-btn btn-lg">Submit</button>
                        </form>
                    {% else %}
                        <p>Log in to leave a review</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}