{% extends "base.html" %}
{% load static %}


{% block search %}
    <div class="row justify-content-center">
        <div class="col-8 col-md-6 col-lg-4">
            <div class="puppy-head">
                <img src="{% static 'images/puppyhead.png' %}" class="responsive-img">
            </div>
            <div class="search-box vstack col-4">
                <p>Looking for something? Let me fetch that for you!</p>
                <input type="text" placeholder="Go Fetch">
            </div>
        </div>
    </div>
{% endblock %}

{%block content %}


<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        
        <div class="col-12 mt-3">
            <h2>Browse Our Store</h2>
            <div class="row">
                {% for product in product_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    <a href="{% url 'product_detail' product.slug %}" class="post-link">
                                    {% if "placeholder" in product.featured_image.url %}
                                        <img class="card-img-top" src="{% static 'images/placeholder.png' %}"
                                            alt="placeholder image">
                                    {% else %}
                                        <img class="card-img-top" src=" {{ product.featured_image.url }}"
                                            alt="{{ product.name }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">In: {{ product.category }}</p>
                                    </div>
                                </div>
                                
                                    <h2 class="card-title">{{ product.name }}</h2>
                                    <p>£{{ product.price | floatformat:2 }}</p>
                                </a>

                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-6 col-md-8 col-lg-4">
                                        <button data-product={{product.id}} data-action=add 
                                        class="btn add-btn pnk-btn update-cart">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn green-btn"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn green-btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}